.footer {
  text-align: center;
  padding: 0.8rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  background: #230090;
  color: white;
}

.footer a {
  color: var(--accentColor);
}

.footer small {
  display: block;
  font-size: 0.7rem;
  color: #ff7575;
  text-transform: none;
  font-weight: 400;
}