.card {
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  border-radius: 5px;
  max-width: 500px;
}

.demoArea {
  display: flex;
  padding: 2rem;
  border: 1px solid;
  border-radius: 5px 5px 0 0;
  background: #f7f5ff;
  width: calc(100% + 2px);
  margin-left: -1px;
}

.demoText {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
}

.links {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;
  max-width: 380px;
}

.links a {
  background: #ddf;
  border: 1px solid #bbe;
  color: #222;
  border-radius: 5px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05em;
  transition-duration: 0.25s;
  padding: 0.5em 0.6em;
}

.links a:hover {
  color: white;
  background: #77f;
  border-color: #337;
}