.header {
  width: 100%;
  background: #222;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Montserrat';
}

.header a {
  max-width: 1240px;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  color: white;
}